*{
  background-color: whitesmoke;
}

.title{
  text-align: center;
  margin: 10px auto;
}

h1{
color: #EA8B20;
}

.container{
  padding: 30px;
  margin: 0 auto;
  max-width: 1000px;
}

.w-6{
  width: 25px;
}

.favorite{
  font-weight: normal;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 3px 5px 8px #cecece;
  color: #fff;
  background: red;
}

