*{
  background-color: whitesmoke;
}

.title{
  text-align: center;
  margin: 10px auto;
  
}

h1{
color: #EA8B20;
}

.container{
  padding: 30px;
  margin: 0 auto;
  max-width: 1000px;
}

.w-6{
  width: 25px;
}

